body{
    font-family: 'Roboto', sans-serif;
}
h1,h2,p{
    margin: 0!important;
}
header {
    height: 100vh;
    background-image: url(../image/BG-Header.png);
}
.logo {
    width: 150px;
    height: 150px;
    background-color: #333;
}
.header__content {
    width: 1260px;
    height: 100vh;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.header__text {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.big__text {
    text-transform: uppercase;
}
.big__text-logo {
    color: #fff;
    text-align: center;
    letter-spacing: 4px;
    width:100%;
}
.small__text {
    text-align: center;
}
.small__text-logo {
    color: #fff;
    width:100%;
}
button.header__button.header__button-start {
    background-color: transparent;
    color: #fff;
    border: solid 1px #fff;
    cursor: pointer;
    transition: all .2s ease-in-out;
    padding: 10px 25px;
    font-size: 20px;
    text-transform: uppercase;
}
button.header__button.header__button-start:hover {
    background-color: #fff;
    color: #333;
}
.next__page {
    width: 50px;
    height: 50px;
    background-image: url(../image/down-button.svg);
    animation: anima 1.5s ease-in-out infinite;
    opacity: 0;
}
@keyframes anima {
    0% { transform: translateY(0px); }   
    50%{
        opacity: 1;
    }
    90% {     
        transform: translateY(50px); 
        opacity: .5;
    }
    100%{
        transform: translateY(60px);
        opacity: 0;
    }
   }
main {
    width: 1260px;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #333;
}
nav.menu {
    width: 100%;
    display: flex;
    justify-content: center;
}
.link{
    outline: none;
    text-decoration: none;
    color: #333;
    text-transform: uppercase;
    padding: 20px 15px;
    font-weight: 600;
}
.link:hover {
    color: #ada074;
}
.about__top {
    padding: 100px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.big__text-about {
    text-align: center;
    padding-bottom: 20px;
    width: 100%;
}
.small__text-about {
    width: 800px;
    color: #868585;
}
.about__buttom {
    display: flex;
    justify-content: center;
}
.about__info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
    width: 33.33%;
}
h2.text__average {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    text-transform: uppercase;
    font-weight: 100;
}
.small__text-info {
    text-align: center;
    padding: 0 40px;
    color: #868585;
}
.info__image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: solid 1px #f0f0f0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35%;
}
.one{
    background-image: url(../image/01.png);
}
.two{
    background-image: url(../image/02.png);
}
.three{
    background-image: url(../image/03.png);
}
button.porfolio__button.porfolio__button-end {
    background-color: transparent;
    color: #fff;
    border: solid 1px #fff;
    cursor: pointer;
    transition: all .2s ease-in-out;
    padding: 10px 25px;
    font-size: 20px;
    text-transform: uppercase;
}
